<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="login-body">
    <div class="login-container">
        <img src="{% static 'logo.png' %}" class="login-logo">
        <h2>Iniciar Sesión</h2>
        
        {% if messages %}
            {% for message in messages %}
                <p style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <input name="email" placeholder="Correo" autocomplete="username" required>
            <input name="password" type="password" placeholder="Contraseña" autocomplete="current-password" required>
            <button type="submit">Ingresar</button>
        </form>
        
        <p>¿No tienes cuenta?</p>
        <a href="{% url 'register' %}">Registrarse</a>
    </div>
</body>
</html>